*
!*/
!*.py
!*.sh
!*.config
!*.gdb
!*.lark
!*.vl
!*.md
!*.txt

!.env
!.gitignore
!Dockerfile
!.dockerignore
!Makefile
!README
!README.md
!LICENSE

*~
__pycache__/
out/
tmp/
temp/
dist/

/linux-*.xz
/linux-*/
/kernel/

!**/*.vscode/*
